@charset "UTF-8";
/* Tela de Cadastro (Mobile, Table, Notebook) */

nav>a {
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(94, 168, 242);
}

a:hover {
    color: rgb(141, 200, 249);
}

body {
    background-color: white;
}

main {
    background-color: white;
    max-width: 1000px;
    min-height: 400px;
    width: 45%;
    height: 60vh;
    margin: auto;
    padding: 30px;
    margin-top: 90px;

    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(223, 222, 222);
}

main>h2 {
    text-align: center;
}

main>form>label {
    font-size: 14px;
}

main>form>button {
    background-color: rgb(94, 168, 242);
    display: block;
    margin: 15px auto;
    max-width: 250px;
    min-width: 50px;
    max-height: 30px;
    min-height: 25px;
    width: 70%;
    height: 5vh;
    cursor: pointer;

    border: none;
    border-radius: 8px;
}

main>form>input {
    background-color: white;
    max-width: 806px;
    min-width: 210px;
    width: 100%;

    border: none;
    border-bottom: 2px solid rgb(94, 168, 242);
}

main>form>input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: var(--cor08);
}

/**/
.btn_login:hover {
    background-color: rgb(141, 200, 249);
}